[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mecab-python3 = "*"
regex = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
start = "python IndependentWord.py"
test = "python test_IndependentWord.py"
